apiVersion: v1
kind: Pod
metadata:
  name: "extract-db-{{ .InstanceSlug }}"
  labels:
    ai-services.io/template: "{{ .TemplateID }}"
    ai-services.io/secret: "extract-db-secret-{{ .InstanceSlug }}"
    ai-services.io/secret-skip-cleanup: "true"
    ai-services.io/volume: "postgres-extract-{{ .InstanceSlug }},extract-db-secret-{{ .InstanceSlug }}"
  annotations:
    io.podman.annotations.pids-limit/postgres: "4096"
spec:
  restartPolicy: always
  volumes:
    - name: postgres-data
      persistentVolumeClaim:
        claimName: "postgres-extract-{{ .InstanceSlug }}"
    - name: extract-db-secret
      secret:
        secretName: "extract-db-secret-{{ .InstanceSlug }}"
  containers:
    - name: postgres
      image: "{{ .Values.postgres.image }}"
      command:
        - "/bin/sh"
        - "-c"
      args:
        - |
          export POSTGRES_USER=$(cat /etc/secret/extract-db-secret/username)
          export POSTGRES_PASSWORD=$(cat /etc/secret/extract-db-secret/password)
          exec docker-entrypoint.sh postgres
      env:
        - name: POSTGRES_DB
          value: "postgres"
        - name: PGDATA
          value: "/var/lib/pgsql/data"
      ports:
        - name: postgres-port
          containerPort: 5432
      securityContext:
        runAsUser: 26
        fsGroup: 26
      volumeMounts:
        - mountPath: /var/lib/pgsql:z
          name: postgres-data
        - mountPath: /etc/secret/extract-db-secret
          name: extract-db-secret
          readOnly: true
      livenessProbe:
        exec:
          command:
          - pg_isready
          - -U
          - postgres
        initialDelaySeconds: 30
        periodSeconds: 10
        timeoutSeconds: 5
        failureThreshold: 3
      readinessProbe:
        exec:
          command:
          - pg_isready
          - -U
          - postgres
        initialDelaySeconds: 10
        periodSeconds: 5
        timeoutSeconds: 3
        failureThreshold: 3
